In [ ]:
#First, I'll load the sql extension then connect to the memory on sqlite database
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
#I import the relevant libraries necessary for this exercise
import csv
import pandas as pd

In [ ]:
from google.colab import files
Crops = files.upload()

Saving Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv to Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv

In [ ]:
#Using the pandas function read_csv, I load the csv file specifiying the file path and the use of row indexes as row labels
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Crops = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
#This code drops similar tables from the database if the exist while pushing my working dataset to a new table in the SQLite database
%sql DROP TABLE if EXISTS Crops;
%sql PERSIST Crops;

 * sqlite://
Done.
 * sqlite://

'Persisted crops'

In [ ]:
#This code previews the dataset selecting the first 5 rows
%%sql
SELECT * FROM Crops LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

In [ ]:
#This code displays a list of Sub Counties, their population and areas
%%sql
SELECT SUBCOUNTY_NAME AS Subcounty, POP AS Population, Area AS [Area in Hectares]
FROM Crops;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [ ]:
#This code sorts the list of districts by total crop area in descending order
%%sql
SELECT DISTRICT_NAME AS District, Crop_Area_Ha AS [Total Crop Area in Hectares]
FROM Crops
ORDER BY Crop_Area_Ha DESC;

 * sqlite://
Done.

[('KOTIDO', 13587.990759999999),
 ('KOTIDO', 13278.52043),
 ('KOTIDO', 10398.24939),
 ('KOTIDO', 7087.823334000001),
 ('KOTIDO', 7023.533691),
 ('KAABONG', 6890.699234000001),
 ('NAPAK', 6471.047334000001),
 ('NAKAPIRIPIRIT', 5793.5076229999995),
 ('NAKAPIRIPIRIT', 5759.618906000001),
 ('NAPAK', 5473.443674),
 ('NAKAPIRIPIRIT', 5079.779088),
 ('KAABONG', 3934.432233),
 ('NAKAPIRIPIRIT', 3276.653762),
 ('NAKAPIRIPIRIT', 3264.534948),
 ('NAPAK', 3120.318045),
 ('NAPAK', 2990.847377),
 ('KAABONG', 2834.349905),
 ('KAABONG', 2700.676313),
 ('AMUDAT', 2513.27183),
 ('MOROTO', 2480.1219),
 ('KAABONG', 2365.259806),
 ('MOROTO', 2217.2907170000003),
 ('NAKAPIRIPIRIT', 2008.0681690000001),
 ('KAABONG', 1890.248613),
 ('NAPAK', 1849.966589),
 ('KOTIDO', 1656.5318550000002),
 ('AMUDAT', 1651.99842),
 ('AMUDAT', 1539.401382),
 ('KAABONG', 1494.047587),
 ('KAABONG', 1491.771813),
 ('ABIM', 1266.109868),
 ('NAPAK', 1215.227445),
 ('NAKAPIRIPIRIT', 1161.3902289999999),
 ('MOROTO', 1111.664207),
 ('NAPAK', 1031.196285),
 ('KAABONG', 1021.31699),
 ('ABIM', 999.3715888),
 ('KAABONG', 997.1610206),
 ('KAABONG', 967.3367266),
 ('KAABONG', 957.4939457999999),
 ('ABIM', 925.0541302000001),
 ('ABIM', 792.8987889),
 ('NAPAK', 792.2492731000001),
 ('ABIM', 788.4628001),
 ('ABIM', 698.1712182),
 ('KAABONG', 401.7978207),
 ('KAABONG', 175.08052659999998),
 ('MOROTO', 145.243518),
 ('AMUDAT', 60.77208552),
 ('NAKAPIRIPIRIT', 29.14576036),
 ('MOROTO', 0.322315707),
 ('MOROTO', 0.17139046100000002)]

In [ ]:
#This code selects only the Sub counties from the Moroto district, orders them alphabetically and shows their production of sorghum
%%sql
SELECT SUBCOUNTY_NAME AS Subcounty, S_Prod_Tot AS [Sorghum Produced in Kg], S_Area_Ha AS [Sorghum Crop Area in Hectares], 
S_Yield_Ha AS [Sorghum Yield per Hectare]
FROM Crops
WHERE DISTRICT_NAME	= 'MOROTO'
ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413, 30.15704817, 311.0062152),
 ('NADUNGET', 321630.539, 2406.1906649999996, 133.6679356),
 ('NORTHERN DIVISION', 17.28125956, 0.130940756, 131.9776979),
 ('RUPA', 227298.5184, 1989.1195079999998, 114.2709211),
 ('SOUTHERN DIVISION', 19.67486547, 0.17139046100000002, 114.7955689),
 ('TAPAC', 49251.66081, 315.979223, 155.8699345)]

In [ ]:
#This code computes the average maize production per District
%%sql
SELECT AVG(M_Prod_Tot) AS [Average Maize Production in Kg]
FROM Crops;

 * sqlite://
Done.

[(550072.9779386856,)]

In [ ]:
#This code computes the number of Sub counties where maize is produced and the total maize production per District
%%sql
SELECT COUNT(SUBCOUNTY_NAME) AS [No. of Subcounties], SUM(M_Prod_Tot) AS [Total maize produced in Kg] 
FROM Crops
WHERE M_Prod_Tot != 0;

 * sqlite://
Done.

[(51, 28603794.85281165)]

In [ ]:
#This code computes the overall crop area in all Sub counties where population is over 20000
%%sql
SELECT SUM(Crop_Area_Ha) AS [Total crop area in Hectares]
FROM Crops
WHERE POP > 20000;

 * sqlite://
Done.

[(120212.89015529997,)]

In [ ]:
#This code sorts the maize production in descending order by Districts, 
#only taking into account the Sub counties where the maize area is larger than the Sorghum area, 
#and displays the number of Sub counties per district matching that criteria.
%%sql
SELECT DISTRICT_NAME AS District, COUNT(SUBCOUNTY_NAME) AS [Subcounties per District]
FROM Crops
WHERE M_Area_Ha > S_Area_Ha
GROUP BY DISTRICT_NAME
ORDER BY DISTRICT_NAME DESC;

 * sqlite://
Done.

[('NAPAK', 2),
 ('NAKAPIRIPIRIT', 3),
 ('MOROTO', 3),
 ('KAABONG', 3),
 ('AMUDAT', 1)]

In [ ]:
%%sql
SELECT DISTRICT_NAME, COUNT(SUBCOUNTY_NAME)
FROM Crops
WHERE M_Area_Ha > S_Area_Ha
GROUP BY DISTRICT_NAME
ORDER BY DESC;

 * sqlite://
Done.

[('KAABONG', 3),
 ('MOROTO', 3),
 ('NAKAPIRIPIRIT', 3),
 ('NAPAK', 2),
 ('AMUDAT', 1)]